# Dependencies
node_modules/

# Build output
dist/

# Docs build output
docs/.vitepress/dist/
docs/.vitepress/cache/

# OS
.DS_Store

# Editor
.vscode/*
!.vscode/launch.json
.idea/

# Logs
*.log
npm-debug.log*

# Env
.env
.env.local
